.movie_card {
    width: 200px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.movie_card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
}

.movie_poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie_details {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    background: rgba(0, 0, 0, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movie_title {
    font-size: 16px;
    font-weight: 700;
    color: #FFD400;
    margin: 0 0 5px 0;
}

.movie_date_rating {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 5px 0;
    color: #fff;
}

.movie_date {
    margin: 0;
}

.movie_rating {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}

.class_emoji {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.movie_description {
    font-size: 14px;
    color: #fff;
    margin: 0;
    line-height: 1.4;
    font-weight: 500;
}