
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
    height: 70px;
    width: 100vw;
    box-sizing: border-box;
    background-color: #1a1a1a; 
}

.navbar_links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar_links>a {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.navbar>h1 {
    font-size: 30px;
    color: #FFD700;
    /* yellow hex code */
}


.navbar_emoji {
    width: 25px;
    height: 25px;
    margin-left: 7px;
}